html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h3 {
  line-height: 10px;
}

.App {
  background-image: url("./blue-snow.png");
  height: 100%;
  width: 100%;
  position: absolute;
}

.homepage {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 40px;
  width: 40%;
}

.form-div {
  background-color: white;
  padding: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.styled-form.ui.form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: left;
}

.recipient-list.ui.container {
    width: 60%;
    float: center;
    text-align: center;
    background-color: white;
    height: 100%;
    padding: 40px;
}

.add-giftee-button.ui.button {
  margin: 20px;
}

.add-giftee-form.ui.form {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-button.ui.button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.giftee-segment.ui.segment {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.giftee-link {
  font-size: 20px;
}

.delete-button.ui.button {
  margin-top: 20px;
}

.recipient-info {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.recipient-info-text {
  padding: 0px;
  margin: 0px;
}

.edit-giftee-button.ui.button {
  margin-top: 20px;
}

.gift-list.ui.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: center;
  width: 60%;
}

.add-gift-button.ui.button {
  margin-top: 20px;
}

.gift-item.ui.segment {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.gift-button.ui.button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
}